<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/common.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <!-- 상단 네비게이션 바 (GNB) -->
      <div class="navbar">
        <div class="profile-container">
          <div class="profile">
            <img
              src="../../static/images/icon/svg/User_circle_duotone.svg"
              alt="프로필"
              class="profile-image"
              draggable="false"
            />
            <span class="profile-name">Master</span>
          </div>
          <div class="divider"></div>
          <button
            type="button"
            class="navbar-logout-button"
            onclick="openModalLogoutConfirm()"
          >
            Logout
          </button>
        </div>
      </div>
      <!-- //상단 네비게이션 바 (GNB) -->

      <!-- 컨텐츠 -->
      <div class="content">
        <!-- 왼쪽 사이드 바 (SNB) -->
        <div class="sidebar">
          <div class="sidebar-header">
            <h2 class="sidebar-header-title">Menu</h2>
          </div>
          <div class="sidebar-content">
            <div class="sidebar-menu-container">
              <div class="sidebar-menu-title active">
                <h3>회원 관리</h3>
              </div>
              <ul class="sidebar-menu-list menu-generate">
                <a href="" class="sidebar-menu-item active">회원 정보</a>
                <a href="" class="sidebar-menu-item">회원 대화 로그</a>
              </ul>
            </div>
            <div class="sidebar-menu-container">
              <div class="sidebar-menu-title">
                <h3>제작 관리 시스템</h3>
              </div>
              <ul class="sidebar-menu-list menu-generate">
                <a href="" class="sidebar-menu-item">요약</a>
                <a href="" class="sidebar-menu-item">블로그 스크립트</a>
                <a href="" class="sidebar-menu-item">카드뉴스 스크립트</a>
                <a href="" class="sidebar-menu-item">영상 스크립트</a>
                <a href="" class="sidebar-menu-item">쇼츠 스크립트</a>
              </ul>
            </div>
            <div class="sidebar-menu-container">
              <div class="sidebar-menu-title">
                <h3>허브 연동</h3>
              </div>
              <ul class="sidebar-menu-list menu-generate">
                <a href="" class="sidebar-menu-item">기사 다듬기</a>
              </ul>
            </div>
            <div class="sidebar-menu-container">
              <div class="sidebar-menu-title">
                <h3>콘텐츠 결과물 조회</h3>
              </div>
              <ul class="sidebar-menu-list menu-generate">
                <a href="" class="sidebar-menu-item">콘텐츠 결과물 조회</a>
              </ul>
            </div>
            <div class="sidebar-menu-container">
              <div class="sidebar-menu-title">
                <h3>결제 정보 관리</h3>
              </div>
              <ul class="sidebar-menu-list menu-generate">
                <a href="" class="sidebar-menu-item">결제 정보 관리</a>
              </ul>
            </div>
          </div>
        </div>
        <!-- //왼쪽 사이드 바 (SNB) -->

        <!-- 메인 컨텐츠 -->
        <div class="main-content">
          <!-- 타이틀 -->
          <div class="main-content-header">
            <h2 class="main-content-header-title">회원 정보</h2>
          </div>
          <!-- //타이틀 -->
        </div>
        <!-- //메인 컨텐츠 -->
      </div>
      <!-- //컨텐츠 -->
    </div>

    <!-- 로그아웃 모달 -->
    <div class="modal-logout-confirm-overlay">
      <div class="modal-logout-confirm-content">
        <div class="modal-logout-confirm-message-container">
          <span class="modal-logout-confirm-message"
            >정말 로그아웃 하시겠습니까?</span
          >
        </div>
        <div class="modal-logout-confirm-button-container">
          <button
            type="button"
            class="modal-logout-confirm-button"
            onclick="closeModalLogoutConfirm()"
          >
            예
          </button>
          <button
            type="button"
            class="modal-logout-confirm-cancel-button"
            onclick="closeModalLogoutConfirm()"
          >
            아니요
          </button>
        </div>
      </div>
    </div>
    <!-- //로그아웃 모달 -->

    <!-- 스크립트 -->
    <script src="../../static/js/logout/logout.js"></script>
  </body>
</html>
